@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  width: 80vw;
  margin: 10px auto;
}
header {
  font-family: 'Poppins';

  h2 {
    font-family: 'PT Serif';
    font-size: 36px;
    margin: 25px 0;
  }
  h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    margin: 15px 0;
    width: 97%;
  }
}
.member {
  width: fit-content;
  font-family: 'Poppins';
  position: relative;
  img {
    max-width: 140px;
  }
  .position {
    font-family: 'PT Serif';
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -13px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    // transform: translate(-210%, -103px);
  }
  .name {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: -5px;
  }
  &:nth-child(even) {
    transform: translateY(70px);
  }
}
main {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 35px;
}
footer {
  text-align: center;
  margin-top: 150px;
  font-family: 'Poppins';
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
  }
  a:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}
@media (min-width: 760px) {
  body {
    margin: 40px auto;
  }
  header {
    display: flex;
    justify-content: space-between;

    div {
      width: 50%;
    }
    h2 {
      margin-top: 0;
    }
    p {
      font-size: 18px;
      width: 75%;
    }
  }
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  .member {
    &:nth-child(2) {
      transform: translateY(70px);
    }
    &:nth-child(5) {
      transform: translateY(140px);
    }
    img {
      max-width: 240px;
    }
    .position {
      right: -15px;
      font-size: 12px;
    }
    .name {
      font-size: 18px;
      margin-top: 5px;
    }
  }
  footer {
    margin-top: 250px;
  }
}
@media (min-width: 1024px) {
  .member {
    .position {
      right: -15px;
    }
  }
}
